@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background: hsl(36, 100%, 99%);
}

/* Main Container Starts Here  */

.main-container{
    padding: 35px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Navbar Starts Here */

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.nav-left{
    width: 5%;
}

.nav-left img{
    width: 100%;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav-right a{
    font-size: 0.8rem;
    text-decoration: none;
    color: hsl(236, 13%, 42%) ;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav-right a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
    transition: 0.3s ease-in-out;
}

/* Navbar Ends Here */

/* Main Content Starts Here */

main{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.content-left{
    width: 93%;
    display: flex;
    flex-direction: column;
}

.content-left-img{
    width: 100%;
}

.content-left-img img{
    width: 100%;
}

.content-left-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.box-left{
    display: flex;
    flex-direction: row;
    width: 40%;
}

.box-left h1{
    font-size: 3.2rem;
    font-weight: bolder;
}

.box-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box-right p{
    font-size: 1rem;
    font-weight: 500;
    color: hsl(236, 13%, 42%);
    line-height: 28px;
}

.box-right button{
    padding: 12px;
    width: 40%;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: hsl(5, 85%, 63%);
    border: none;
    font-weight: bold;
    color: hsl(36, 100%, 99%);
    margin-top: 35px;
    transition: 0.3s ease-in-out;
}

.box-right button:hover{
    cursor: pointer;
    background: hsl(240, 100%, 5%);
    transition: 0.3s ease-in-out;
}

.content-right{
    width: 32%;
    display: flex;
    flex-direction: column;
    background: hsl(240, 100%, 5%);
    padding: 20px;
}

.content-right-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.content-right-title h1{
    color: hsl(35, 77%, 62%);
}

.content-right-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.content-right-card a{
    color: hsl(36, 100%, 99%);
    margin-top: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.content-right-card a:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.content-right-card p{
    color: hsl(236, 13%, 42%);
    margin-top: 15px;
    font-size: 0.8rem;
    font-weight: 500;
}

.line{
    padding: 0.5px;
    width: 100%;
    background: hsl(236, 13%, 42%);
    margin-top: 20px;
}

/* Main Content Ends Here */

/* End Content Container Starts Here */

.end-content-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 25px;
}

.end-content-card{
    display: flex;
    flex-direction: row;
}

.card-left{
    display: flex;
    flex-direction: row;
}

.card-left img{
    width: 80%;
}

.card-right{
    margin-left: 10px;
    display: flex;
    flex-direction: column
}

.card-right h3{
    color: hsl(233, 8%, 79%);
    font-size: 1.8rem;
}

.card-right strong{
    margin-top: 15px;
}

.card-right strong a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    transition: 0.3s ease-in-out;
}

.card-right strong a:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card-right small{
    margin-top: 15px;
    line-height: 20px;
}

/* End Content Container Ends Here */

/* Main Container Ends Here  */

