@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background: hsl(36, 100%, 99%);
}

.main-container{
    padding: 35px 80px;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.nav-left img{
    width: 100%;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-right a{
    font-size: 0.8rem;
    text-decoration: none;
    color: hsl(236, 13%, 42%) ;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav-right a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
    transition: 0.3s ease-in-out;
}


