@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background: hsl(36, 100%, 99%);
}

/* Main Container Starts Here  */

.main-container{
    padding: 35px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Navbar Starts Here */

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.nav-left img{
    width: 100%;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav-right a{
    font-size: 0.8rem;
    text-decoration: none;
    color: hsl(236, 13%, 42%) ;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav-right a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
    transition: 0.3s ease-in-out;
}

/* Navbar Ends Here */

/* Main Content Starts Here */

main{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content-left{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content-left-img{
    width: 100%;
}

.content-left-img img{
    width: 100%;
}

.content-left-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 20px;
}

.box-left{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.box-left h1{
    font-size: 3.5rem;
    font-weight: bolder;
}

.box-right{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box-right p{
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(236, 13%, 42%);
}

.content-right{
    width: 20%;
}

/* Main Content Ends Here */



/* Main Container Ends Here  */

